{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'style.css'%}"> 
{% endblock %}
{% block content %}

<div class="container" style="border-color:  rgb(0, 0, 0); border: 8px double black; ; background-color: gray; text-align: center; color: rgb(0, 0, 0); text-shadow: 2px 2px 5px rgb(255, 255, 255); padding: 5px;">
	<h1>Play Mage</h1>
</div>

	<div class="container" style="border-color:  rgb(0, 0, 0); border: 8px double black; ; background-color: gray; text-align: center; color: white; text-shadow: 2px 2px 5px rgb(0, 0, 0); padding: 5px;">

{% for player in game.players.all %}	
	{% if player.user != request.user %}
		{% include 'partials/chart_top.html' with player=player %}
	{% endif %}
{% endfor %}

{% include 'partials/chart_mid.html' with game=game mine_total=mine_total %}

{% for player in game.players.all %}	
	{% if player.user == request.user %}
		{% include 'partials/chart_bottom.html' with player=player %}
	{% endif %}
{% endfor %}


{% endblock content %}





