{% extends "game.html" %}
{% block content %}




<div class="container" style="border-color:  rgb(0, 0, 0); border-style: double;">

	<div class="row">
		<div class="col-2" style="border-color:  rgb(0, 0, 0); border-style: double; padding: 2px;">
			<h3>Vault</h3>
		</div>
		<div class="col-1" style="border-color:   rgb(0, 0, 0); border-style: double; padding: 2px;">
			<h3>{{player.vault}}</h3>
		</div>
		<div class="col-2" style="border-color:   rgb(0, 0, 0); border-style: double; padding: 2px;">
			<h3>Court</h3>
		</div>
		<div class="col-7" style="border-color:   rgb(0, 0, 0); border-style: double; padding: 2px;">
			<h3>{{player.court.all}}</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-2" style="border-color:   rgb(0, 0, 0); border-style: double; padding: 2px;">
			<h3>Life</h3>
		</div>
		<div class="col-1" style="border-color:   rgb(0, 0, 0); border-style: double; padding: 2px;">
			<h3>{{player.health}}</h3>
		</div>
		<div class="col-2" style="border-color:   rgb(0, 0, 0); border-style: double; padding: 2px;">
			<h3>Hand</h3>
        </div>
        <div class="col-7" style="border-color:   rgb(0, 0, 0); border-style: double; padding: 2px;">
			<h3>{%for card in player.hand.all%}  <a href='{% url "card_details" game.id card.id %}' class='btn btn-success'>{{card.value}}{{ card.get_suit_display}} {%endfor%}</a></h3>

		</div>
	</div>

	<div class="row">
		<div class="col-2" style="border-color:   rgb(0, 0, 0); border-style: double; padding: 2px;">
			<h3>Phase</h3>
		</div>
		<div class="col-1" style="border-color:   rgb(0, 0, 0); border-style: double; padding: 2px;">
			<h3>{{game.get_phase_display}}</h3>
		</div>
		<div class="col-2" style="border-color:   rgb(0, 0, 0); border-style: double; padding: 2px;">
			<h3>Spell</h3>
		</div>
		<div class="col-7" style="border-color:   rgb(0, 0, 0); border-style: double; padding: 2px;">
			<h3>{{game.spellzone.all}}</h3>
		</div>
	</div>
</div>

{% endblock content %}